html, body{
    height: 100%;
}

header{
    background: #c5c8cc;
}

p{
    text-indent: 50px;
}

a{
    text-decoration: none;
    color: black;
}

.header-elem{
    max-height: 50px;
    line-height: 50px;
}

.header-elem-text{
    font-size: 1.5em;
}

#wrap{
    min-height: 100%;
}

#main{
    overflow: auto;
    padding-bottom: 150px;
}

.img-custom{
    max-width: 150px;
    max-height: 150px;
    margin-left: 50px;
}

.footer{
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
    padding-top: 20px;
    /*comment/delete visibility if making actual footer*/
    visibility: hidden;
}

@media screen and (max-width: 420px){
    .img-custom{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        max-height: 200px;
    }
}