html, body{
    height: 100%;
}

header{
    background: #c5c8cc;
}

.p-indent{
    text-indent: 50px;
}

a{
    text-decoration: none;
    color: black;
}

.header{
    min-height: 50px;
}

.header-elem{
    min-height: 50px;
}

.header-elem-text{
    font-size: 1.5em;
}

/* .drop-btn{
    width: 30%;
} */

#wrap{
    min-height: 100%;
}

#main{
    overflow: auto;
    padding-bottom: 150px;
}

.img-custom{
    max-width: 150px;
    max-height: 150px;
    margin-left: 50px;
}

.footer{
    position: relative;
    margin-top: -80px;
    height: 80px;
    clear: both;
    padding-top: 20px;
}
/* 
@media screen and (max-width: 716px){
    .header-elem-text{
        font-size: 1.25em;
    }
};

@media screen and (max-width: 602px){
    .header-elem-text{
        font-size: 0.8em;
    }
} */

@media screen and (max-width: 575px){
    .img-custom{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        max-height: 200px;
    }

    .header{
        max-height: 100px;
    }

    /* .header-elem-text{
        font-size: 4vw;
    } */
    
    .header-elem-nav-btn{
        text-align: center!important;
    }
}